.services__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
}

.services__card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--borderRadius);
    background-color: var(--containerColor);
    transition: all 0.3s ease-in-out;
}

.services__card:hover {
    transform: translateY(-10px);
    box-shadow: var(--darkShadow);
}

.services__container > div:nth-child(1) .services__card {
    background-color: rgb(108, 108, 229);
    box-shadow: 0 5px 20px 0 rgba(108, 108, 229, 50%);
}

.services__container > div:nth-child(2) .services__card {
    background-color: rgb(249, 215, 76);
    box-shadow: 0 5px 20px 0 rgba(249, 215, 76, 50%);
}

.services__container > div:nth-child(3) .services__card {
    background-color: rgb(249, 123, 139);
    box-shadow: 0 5px 20px 0 rgba(249, 123, 139, 50%);
}

.services__title {
    font-size: var(--h3FontSize);
    margin-bottom: 1rem;
    color: white;
}

.services__description {
    color: white;
}

.services__container > div:nth-child(2) .services__title {
    color: hsl(244, 24%, 26%);
}

.services__container > div:nth-child(2) .services__description {
    color: hsl(244, 16%, 43%);
}

.services__img {
    margin-bottom: 1.25rem;
    width: 96px;
}

@media screen and (max-width: 768px) {
  .services__container {
    grid-template-columns: repeat(1 ,1fr);
    row-gap: 1.875rem;
  }

  .services__card {
    padding: 1.25rem;
  }
}

